/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

/* font-family: 'Hind', sans-serif;
font-family: 'Poppins', sans-serif; */

/* VARIABLES */
:root {
  --color-brand: #566dfb;
  --color-brand-rgb: 86, 109, 251;
  --color-brand-dark: #263fd9;
  --color-body: #848ab8;
  --color-dark: #3a426d;
  --font-body: "Hind", sans-serif;
  --font-display: "Poppins", sans-serif;
  --transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  --shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}

/* RESET */
body {
  color: var(--color-body);
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.6;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-dark);
  font-family: var(--font-display);
  font-weight: 700;
  line-height: 1.7;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--color-body);
}

a {
  text-decoration: none;
  color: var(--color-brand);
  transition: var(--transition);
}

a:hover {
  color: var(--color-brand-dark);
}

img {
  max-width: 100%;
}

/* Utility */
.sdr-ff-display {
  font-family: var(--font-display);
}

/* HELPERS */
.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  max-width: 720px;
  margin: 0 auto;
}

/* BTN */
.btn {
  padding: 12px 24px;
  border-radius: 0;
  border-width: 2px;
  font-weight: 500;
}

.btn-brand,
.btn-brand:focus {
  background-color: var(--color-brand);
  color: white;
  border-color: var(--color-brand);
}

.btn-brand:hover {
  background-color: var(--color-brand-dark);
  color: white;
  border-color: var(--color-brand);
}

/* NAVBAR */
.navbar-brand img {
  height: 40px;
}

.navbar .navbar-nav .nav-link {
  font-weight: 500;
  color: var(--color-dark);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--color-brand);
}
.navbar-toggler {
  border-radius: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* HERO */
#hero {
  background-image: url(../images/hero-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* SERVICES */
.service-card {
  overflow: hidden;
  position: relative;
  aspect-ratio: 1 / 1;
}

.service-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  transition: var(--transition);
}

.service-card:hover img {
  transform: scale(1.4);
}

.service-card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
